#video-id{
    width: 900px;
    height: 100;
    
}
#video-div{
    margin: auto;
}

@media only screen and (max-width: 1000px) {
    .player{
        width: 90%;
        display: flex;
        justify-content: center;
        margin-left: 5%;
    }
    
  
  }